# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [137]:
# import numpy as np
import pandas as pd
mktg_df= pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv")
df_2=pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv")
df_3=pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv")                
#print(mktg_df.head())
#print(len(mktg_df.columns))
#print(len(df_2.columns))
#print(len(df_3.columns))
#print(df_2.head())
#print(df_3.head())
print(mktg_df.shape)
print(df_2.shape)
print(df_3.shape)

#clean all data set columns first:
def clean_column_names(df):
    df.columns = df.columns.str.lower().str.replace(' ', '_')
    df = df.rename(columns={str('employmentstatus'): 'employment_status'})
    df = df.rename(columns={str('unnamed:_0'): 'unnamed'})
    return df    
mktg_df= clean_column_names(mktg_df)

def clean_column_names(df):
    df.columns = df.columns.str.lower().str.replace(' ', '_')
    df = df.rename(columns={str('employmentstatus'): 'employment_status'})
    df = df.rename(columns={str('unnamed:_0'): 'unnamed'})
    return df    
df_2= clean_column_names(df_2)

def clean_column_names(df):
    df.columns = df.columns.str.lower().str.replace(' ', '_')
    df = df.rename(columns={str('employmentstatus'): 'employment_status'})
    df = df.rename(columns={str('unnamed:_0'): 'unnamed'})
    return df    
df_3= clean_column_names(df_3)



print(list(mktg_df.columns))
print(list(df_2.columns))
print(list(df_3.columns))

all_df= pd.concat([mktg_df, df_2,df_3 ], axis=0)
print(list(all_df.columns))
print(all_df.shape)
all_df.head()

(10910, 26)
(996, 11)
(7070, 11)
['unnamed', 'customer', 'state', 'customer_lifetime_value', 'response', 'coverage', 'education', 'effective_to_date', 'employment_status', 'gender', 'income', 'location_code', 'marital_status', 'monthly_premium_auto', 'months_since_last_claim', 'months_since_policy_inception', 'number_of_open_complaints', 'number_of_policies', 'policy_type', 'policy', 'renew_offer_type', 'sales_channel', 'total_claim_amount', 'vehicle_class', 'vehicle_size', 'vehicle_type']
['customer', 'st', 'gender', 'education', 'customer_lifetime_value', 'income', 'monthly_premium_auto', 'number_of_open_complaints', 'total_claim_amount', 'policy_type', 'vehicle_class']
['customer', 'state', 'customer_lifetime_value', 'education', 'gender', 'income', 'monthly_premium_auto', 'number_of_open_complaints', 'policy_type', 'total_claim_amount', 'vehicle_class']
['unnamed', 'customer', 'state', 'customer_lifetime_value', 'response', 'coverage', 'education', 'effective_to_date', 'employment_status', 'gender', 'income', 'location_code', 'marital_status', 'monthly_premium_auto', 'months_since_last_claim', 'months_since_policy_inception', 'number_of_open_complaints', 'number_of_policies', 'policy_type', 'policy', 'renew_offer_type', 'sales_channel', 'total_claim_amount', 'vehicle_class', 'vehicle_size', 'vehicle_type', 'st']
(18976, 27)

,unnamed,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employment_status,gender,...,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,st
0,0.0,DK49336,Arizona,4809.21696,No,Basic,College,2/18/11,Employed,M,...,9.0,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN,NaN
1,1.0,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,1.0,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN,NaN
2,2.0,LZ68649,Washington,14947.9173,No,Basic,Bachelor,2/10/11,Employed,M,...,2.0,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,NaN
3,3.0,XL78013,Oregon,22332.43946,Yes,Extended,College,1/11/11,Employed,M,...,2.0,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,NaN
4,4.0,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,7.0,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN,NaN

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [155]:

import pandas as pd
customer_df=pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv")
def clean_column_names(df):
    df.columns = df.columns.str.lower().str.replace(' ', '_')
    df = df.rename(columns={str('employmentstatus'): 'employment_status'})
    df = df.rename(columns={str('unnamed:_0'): 'unnamed'})
    return df    
customer_df= clean_column_names(customer_df)



print(customer_df.head())

#print(len(mktg_df.columns))
#print(len(customer_df.columns))
#print(customer_df.head())

   unnamed customer       state  customer_lifetime_value response  coverage  \
0        0  DK49336     Arizona              4809.216960       No     Basic
1        1  KX64629  California              2228.525238       No     Basic
2        2  LZ68649  Washington             14947.917300       No     Basic
3        3  XL78013      Oregon             22332.439460      Yes  Extended
4        4  QA50777      Oregon              9025.067525       No   Premium

  education effective_to_date employment_status gender  ...  \
0   College        2011-02-18          Employed      M  ...
1   College        2011-01-18        Unemployed      F  ...
2  Bachelor        2011-02-10          Employed      M  ...
3   College        2011-01-11          Employed      M  ...
4  Bachelor        2011-01-17     Medical Leave      F  ...

   number_of_policies     policy_type        policy  renew_offer_type  \
0                   9  Corporate Auto  Corporate L3            Offer3
1                   1   Personal Auto   Personal L3            Offer4
2                   2   Personal Auto   Personal L3            Offer3
3                   2  Corporate Auto  Corporate L3            Offer2
4                   7   Personal Auto   Personal L2            Offer1

   sales_channel  total_claim_amount  vehicle_class  vehicle_size  \
0          Agent          292.800000  Four-Door Car       Medsize
1    Call Center          744.924331  Four-Door Car       Medsize
2    Call Center          480.000000            SUV       Medsize
3         Branch          484.013411  Four-Door Car       Medsize
4         Branch          707.925645  Four-Door Car       Medsize

  vehicle_type month
0            A     2
1            A     1
2            A     2
3            A     1
4            A     1

[5 rows x 27 columns]

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

In [157]:


pivot_df = customer_df.pivot_table(index='sales_channel', values='total_claim_amount', aggfunc='sum').reset_index()
pivot_df['total_claim_amount'] = pivot_df['total_claim_amount'].round(2)
print(pivot_df)
max_revenue_channel = pivot_df.loc[pivot_df['total_claim_amount'].idxmax()]
print()
print(f"The sales channel with the most sales in terms of total revenue is: {max_revenue_channel['sales_channel']} with total revenue ${max_revenue_channel['total_claim_amount']:.2f}")

  sales_channel  total_claim_amount
0         Agent          1810226.82
1        Branch          1301204.00
2   Call Center           926600.82
3           Web           706600.04

The sales channel with the most sales in terms of total revenue is: Agent with total revenue $1810226.82

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

In [159]:
pivot2_df = customer_df.pivot_table(index='education',columns='gender', values='customer_lifetime_value', aggfunc='mean').round(2).reset_index()
print(pivot2_df)
# For females the highest average for customer lifetime value have an educational level of High school or below, while for males is having a Master.However in male there  is a very small difference between the averages in Hgh schol and masters.
#For both genders Doctors have the lowest average for customer lifetime value.
# In high school educational level is where we find the biggest difference between male and female in terms of the average customer lifetime value, where the female average is considerably higher compare to the male.
#In general results are differenciated between genders regarding their educational level.

gender             education        F        M
0                   Bachelor  7874.27  7703.60
1                    College  7748.82  8052.46
2                     Doctor  7328.51  7415.33
3       High School or Below  8675.22  8149.69
4                     Master  8157.05  8168.83

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [188]:

# Convert the 'date' column to datetime format
customer_df['effective_to_date'] = pd.to_datetime(customer_df['effective_to_date'])
customer_df['month'] = customer_df['effective_to_date'].dt.strftime('%B')

pivot_df = customer_df.pivot_table(index='policy_type', columns='month', values="total_claim_amount", fill_value=0)

print(pivot_df.head())

month             February     January
policy_type
Corporate Auto  447.928568  413.783733
Personal Auto   431.666156  439.942520
Special Auto    436.391811  444.495388

In [190]:
long_format_df = pd.melt(pivot_df.reset_index(), id_vars='policy_type', var_name='month', value_name='count')
print(long_format_df.head())

      policy_type     month       count
0  Corporate Auto  February  447.928568
1   Personal Auto  February  431.666156
2    Special Auto  February  436.391811
3  Corporate Auto   January  413.783733
4   Personal Auto   January  439.942520